<!DOCTYPE html>
<html>
<head>
<title>登录</title>
@include("/comm/head.html"){}

<script type="text/javascript">
// "/user/login"
function login(){
	$.ajax({
        type: "POST",
        url:"/user/login",
        data:$('#loginForm').serialize(),// 要提交的表单 
        success: function(data) {
//         	console.log(data);
        	if(data.code == 200){
        		layer.msg("登录成功",{time:2000}, function(){
        			window.location.href ="/";
        		});
        	}else{
        		layer.msg("登录失败");
        	}
        	
       	}
    });
}
</script>
</head>

<body>
	<div class="header">
		@include("/comm/top.html"){}
		<div class="wrap">
			@include("/comm/search.html"){}
			
			<div class="header_bottom" align="center">
			</div>
			<div class="main" style="height: 450px;">
				<div class="wrap">
					<div class="content">
						<!------------End Header ------------>
						<p class="layui-input-block">请输入你的登陆信息</p>
						<form class="layui-form" method="post" id="loginForm">
							<div class="layui-input-inline">
								<label class="layui-form-label">账号:</label>
							    <div class="layui-input-inline">
							      <input type="text" name="account" placeholder="请输入手机号" required  lay-verify="required" autocomplete="off" class="layui-input">
							    </div>
						    </div>
						    <br/>
						    <br/>
						    <div class="layui-input-inline">
						    	<label class="layui-form-label">密码:</label>
							    <div class="layui-input-inline">
							      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
							    </div>
						    </div>
						    <br/>
						    <br/>
							<div class="layui-form-item">
							    <div class="layui-input-block">
							      <button class="layui-btn" type="button" onclick="login()">立即登陆</button>
							      <a href="/user/toRegister"  class="layui-btn layui-btn-primary" >注册</a>
							    </div>
						  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	@include("/comm/footer.html"){}
</body>
</html>