<!DOCTYPE html>
<html>
<head>
<title>登录</title>
@include("/comm/head.html"){}

<script type="text/javascript">
// "/user/login"
function register(){
	$.ajax({
        type: "POST",
        url:"/user/register",
        data:$('#registerForm').serialize(),// 要提交的表单 
        success: function(data) {
//         	console.log(data);
        	if(data.code == 200){
        		layer.msg("注册成功",{time:2000}, function(){
        			window.location.href ="/";
        		});
        	}else{
        		layer.msg(data.message);
        	}
        	
       	}
    });
}
</script>
</head>

<body>
	<div class="header">
		@include("/comm/top.html"){}
		<div class="wrap">
			@include("/comm/search.html"){}
			
			<div class="header_bottom" align="center">
			</div>
			<div class="main" style="height: 450px;">
				<div class="wrap">
					<div class="content">
						<!------------End Header ------------>
						<p class="layui-input-block">请输入你的注册信息</p>
						<form class="layui-form" method="post" id="registerForm">
							<div class="layui-input-inline">
								<label class="layui-form-label">账号:</label>
							    <div class="layui-input-inline">
							      <input type="text"  name="account" placeholder="请输入手机号注册" required  lay-verify="required" autocomplete="off" class="layui-input">
							    </div>
						    </div>
						    <br/>
						    <br/>
						    <div class="layui-input-inline">
						    	<label class="layui-form-label">密码:</label>
							    <div class="layui-input-inline">
							      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
							    </div>
						    </div>
						    <br/>
						    <br/>
						    <div class="layui-input-inline">
						    	<label class="layui-form-label">确认密码:</label>
							    <div class="layui-input-inline">
							      <input type="password" name="repassword" required lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
							    </div>
						    </div>
						    <br/>
						    <br/>
							<div class="layui-form-item">
							    <div class="layui-input-block">
							      <button class="layui-btn" type="button" onclick="register()">立即注册</button>
							    </div>
						  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	@include("/comm/footer.html"){}
</body>
</html>