<!DOCTYPE HTML>
<head>
<title>欢迎使用撮溪坡视频</title>
@include("/comm/head.html"){}
</head>
<body>
	<div class="header">
		@include("/comm/top.html"){}
		<div class="wrap">
			@include("/comm/search.html"){}
			
			<div class="header_bottom">
				<div class="header_bottom_left">
					<div class="categories">
						<ul>
							<h3>Categories</h3>
							<li><a href="#">All</a></li>
							<li><a href="#">Hindi</a></li>
							<li><a href="#">Telugu</a></li>
							<li><a href="#">English</a></li>
							<li><a href="#">Tamil</a></li>
							<li><a href="#">Malayalam</a></li>
							<li><a href="#">Kannada</a></li>
							<li><a href="#">Bengali</a></li>
							<li><a href="#">Assami</a></li>
							<li><a href="#">Kids</a></li>
							<li><a href="#">Animation</a></li>
							<li><a href="#">Games</a></li>
						</ul>
					</div>
				</div>
				<div class="header_bottom_right">
					<!------ Slider ------------>
					<div class="slider">
						<div class="slider-wrapper theme-default">
							<div id="slider_" class="nivoSlider_">
								<img src="/static/cqts_bue/images/1.jpg" alt="" />
								<!-- 								<img src="/static/cqts_bue/images/2.jpg" data-thumb="/static/cqts_bue/images/2.jpg" alt="" />  -->
								<!-- 								<img src="/static/cqts_bue/images/3.jpg" data-thumb="/static/cqts_bue/images/3.jpg" alt="" />  -->
								<!-- 								<img src="/static/cqts_bue/images/4.jpg" data-thumb="/static/cqts_bue/images/4.jpg" alt="" />  -->
								<!-- 								<img src="/static/cqts_bue/images/5.jpg" data-thumb="/static/cqts_bue/images/5.jpg" alt="" /> -->
							</div>
						</div>
					</div>
					<!------End Slider ------------>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="tlinks">
		Collect from <a href="http://www.cssmoban.com/" title="撮溪坡影视城">撮溪坡影视城</a>
	</div>
	<!------------End Header ------------>
	<div class="main">
		<div class="wrap">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3>New Products</h3>
					</div>
				</div>
				<div class="section group">
				@for(model in tvList!){
					<div class="grid_1_of_5 images_1_of_5">
						<a href="/search?mediaName=${model.name!}&platform=1"><img src="${model.imgUrl!}" alt="" /></a>
						<h2>
							<a href="/preview">${model.showName!}</a>
						</h2>
						<div class="price-details">
							<div class="price-number">
								<p>
									<span class="rupees">评分:${model.score!}</span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a href="/search?mediaName=${model.name!}&platform=1">播放</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				@}
				</div>
				<div class="content_bottom">
					<div class="heading">
						<h3>Feature Products</h3>
					</div>
				</div>
				<div class="section group">
					<div class="grid_1_of_5 images_1_of_5">
						<a href="/preview"><img
							src="/static/cqts_bue/images/beauty_and_the_beast.jpg" alt="" /></a>
						<h2>
							<a href="/preview">Beauty and the beast</a>
						</h2>
						<div class="price-details">
							<div class="price-number">
								<p>
									<span class="rupees">$620.87</span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a href="/preview">Add to Cart</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>

					</div>
					<div class="grid_1_of_5 images_1_of_5">
						<a href="/preview"><img
							src="/static/cqts_bue/images/Eclipse.jpg" alt="" /></a>
						<h2>
							<a href="/preview">Eclipse</a>
						</h2>
						<div class="price-details">
							<div class="price-number">
								<p>
									<span class="rupees">$620.87</span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a href="/preview">Add to Cart</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>

					</div>
					<div class="grid_1_of_5 images_1_of_5">
						<a href="/preview"><img
							src="/static/cqts_bue/images/Coraline.jpg" alt="" /></a>
						<h2>
							<a href="/preview">Coraline</a>
						</h2>
						<div class="price-details">
							<div class="price-number">
								<p>
									<span class="rupees">$899.75</span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a href="/preview">Add to Cart</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>

					</div>
					<div class="grid_1_of_5 images_1_of_5">
						<a href="/preview"><img
							src="/static/cqts_bue/images/Unstoppable.jpg" alt="" /></a>
						<h2>
							<a href="/preview">Unstoppable</a>
						</h2>
						<div class="price-details">
							<div class="price-number">
								<p>
									<span class="rupees">$599.00</span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a href="/preview">Add to Cart</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="grid_1_of_5 images_1_of_5">
						<a href="/preview"><img
							src="/static/cqts_bue/images/Priest.jpg" alt="" /></a>
						<h2>
							<a href="/preview">Priest 3D</a>
						</h2>
						<div class="price-details">
							<div class="price-number">
								<p>
									<span class="rupees">$679.87</span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a href="/preview">Add to Cart</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@include("/comm/footer.html"){}
	
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>

</body>
</html>

