<!DOCTYPE html>
<html>
<head>
<title>撮溪坡影视城-播放-${mediaName}</title>
@include("/comm/head.html"){}

<script type="text/javascript">
// "/user/login"
function login(){
	$.ajax({
        type: "POST",
        url:"/user/login",
        data:$('#loginForm').serialize(),// 要提交的表单 
        success: function(data) {
//         	console.log(data);
        	if(data.code == 200){
        		layer.msg("登录成功",{time:2000}, function(){
        			window.location.href ="/";
        		});
        	}else{
        		layer.msg("登录失败");
        	}
        	
       	}
    });
}
</script>
</head>

<body>
	<div class="header">
		@include("/comm/top.html"){}
		<div class="wrap">
			@include("/comm/search.html"){}
			
			<div class="main" style="height: 950px;">
				<div class="wrap">
					<div class="content">
						<div style="width: 100%">
						<img alt="" src="${imgSrc!}" style="width: 310px; height: 400px;">
						<iframe src="javascript:;" id="playerLive" style="width: 850px; height: 400px;float: right;">
						
						</iframe>
						<br/>
						<p style="padding-left: 50px;">${mediaName}</p>
						
						@/***
						<div style="float: left; margin-top: 10px;">
						<p>点击播放:
						@for(item in recordList){
							<a href="javascript:;" class="layui-btn layui-btn-warm" data-href="${item.href}" onclick="document.getElementById('playerLive').src='${item.href}'" target="_blank" style="padding-left: 10px; margin-top: 10px;">${item.id}</a>    
						@}
						</p>
						</div>
						@***/
						@/***
						@if(session.v_live >= 1){
						@***/
							<div style="float: left; margin-top: 40px; clear: left;">
							<p>全屏新页面播放点这里:
							@for(item in recordList!){
								<a href="https://api.sigujx.com/?url=${item.href}" class="layui-btn layui-btn-warm" target="_blank" style="padding-left: 10px; margin-top: 10px;">${item.id}</a>    
							@}
							</p>
							</div>
						@/***
						@}
						@***/
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@include("/comm/footer.html"){}
</body>
</html>
