<!DOCTYPE html>
<html>
	 @include("/comm/head.html"){}
	<body>
		@include("/comm/top.html"){}

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="">
						<img src="/static/webProject/img/4.jpg" alt="" height="100%">
					</a>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<div class="main">
			<div class="img_box">
				<h2>产品中心</h2>
				<div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2.Sh3bQWM.eBjSZFhXXbdWpXa_!!1129801607.jpg_180x180.jpg);">
						</a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB23ZHWbVXXXXbXXXXXXXXXXXXX-1129801607.jpg);">
						</a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB28zETdmiJ.eBjSspoXXcpMFXa_!!1129801607.jpg_180x180.jpg);"></a>
						<a href="" style="background-image: url(/static/webProject/img/TB2JDvMdhmI.eBjy0FlXXbgkVXa_!!1129801607.jpg_180x180.jpg);"></a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2RCFqgxhmpuFjSZFyXXcLdFXa_!!1129801607.jpg_180x180.jpg);"></a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2S1TTjY4npuFjSZFmXXXl4FXa_!!1129801607.jpg_180x180.jpg);"></a>
						<a href="" style="background-image: url(/static/webProject/img/TB2YV2SbVXXXXXvXpXXXXXXXXXX-1129801607.jpg);"></a>
					</div>
				</div>
			</div>
			<div class="img_box">
				<h2>品牌资讯</h2>
				<div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2.Sh3bQWM.eBjSZFhXXbdWpXa_!!1129801607.jpg_180x180.jpg);">
						</a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB23ZHWbVXXXXbXXXXXXXXXXXXX-1129801607.jpg);">
						</a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB28zETdmiJ.eBjSspoXXcpMFXa_!!1129801607.jpg_180x180.jpg);"></a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2JDvMdhmI.eBjy0FlXXbgkVXa_!!1129801607.jpg_180x180.jpg);"></a>
						<a href="" style="background-image: url(/static/webProject/img/TB2RCFqgxhmpuFjSZFyXXcLdFXa_!!1129801607.jpg_180x180.jpg);"></a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2S1TTjY4npuFjSZFmXXXl4FXa_!!1129801607.jpg_180x180.jpg);"></a>
						<a href="" style="background-image: url(/static/webProject/img/TB2YV2SbVXXXXXvXpXXXXXXXXXX-1129801607.jpg);"></a>
					</div>
				</div>
			</div>
			<div class="img_box">
				<h2>品牌介绍</h2>
				<div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2.Sh3bQWM.eBjSZFhXXbdWpXa_!!1129801607.jpg_180x180.jpg);">
						</a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB23ZHWbVXXXXbXXXXXXXXXXXXX-1129801607.jpg);">
						</a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB28zETdmiJ.eBjSspoXXcpMFXa_!!1129801607.jpg_180x180.jpg);"></a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2JDvMdhmI.eBjy0FlXXbgkVXa_!!1129801607.jpg_180x180.jpg);"></a>
						<a href="" style="background-image: url(/static/webProject/img/TB2RCFqgxhmpuFjSZFyXXcLdFXa_!!1129801607.jpg_180x180.jpg);"></a>
					</div>
					<div>
						<a href="" style="background-image: url(/static/webProject/img/TB2S1TTjY4npuFjSZFmXXXl4FXa_!!1129801607.jpg_180x180.jpg);"></a>
						<a href="" style="background-image: url(/static/webProject/img/TB2YV2SbVXXXXXvXpXXXXXXXXXX-1129801607.jpg);"></a>
					</div>
				</div>
			</div>
		</div>

		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				loop: true, // 循环模式选项
				pagination: {
					el: '.swiper-pagination',
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			})
		</script>
	</body>
</html>
