<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/static/cqts_bue/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/cqts_bue/css/slider.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/layui/css/layui.css">

<script type="text/javascript" src="/static/cqts_bue/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/static/cqts_bue/js/move-top.js"></script>
<script type="text/javascript" src="/static/cqts_bue/js/easing.js"></script>
<script type="text/javascript" src="/static/cqts_bue/js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/static/layer/layer.js" merge="true"></script>


