<div class="header_bottom_right">
	<!------ Slider ------------>
	<div class="slider">
		<div class="slider-wrapper theme-default">
			<div id="slider_" class="nivoSlider_">
				<img src="/static/cqts_bue/images/nyj.jpg" alt="" />
				<!-- 								<img src="/static/cqts_bue/images/2.jpg" data-thumb="/static/cqts_bue/images/2.jpg" alt="" />  -->
				<!-- 								<img src="/static/cqts_bue/images/3.jpg" data-thumb="/static/cqts_bue/images/3.jpg" alt="" />  -->
				<!-- 								<img src="/static/cqts_bue/images/4.jpg" data-thumb="/static/cqts_bue/images/4.jpg" alt="" />  -->
				<!-- 								<img src="/static/cqts_bue/images/5.jpg" data-thumb="/static/cqts_bue/images/5.jpg" alt="" /> -->
			</div>
		</div>
	</div>
	<!------End Slider ------------>
</div>