<div class="header_top">
	<div class="logo">
		<a href="/"> 
			<img src="/static/cqts_bue/images/zg.png" alt="" style="width: 187px; height: 74px;" />
		</a>
	</div>
	<div class="header_top">
		<div class="search_box" style="width: 380px;">
			<form action="/search">
				<input type="text" name="mediaName" value="" placeholder="请输入您要观看的视频名称"> 
				<input type="hidden" name="platform" id="platform" value="1" /> 
				<input type="submit" value="">
			</form>
		</div>
		<div class="cart" style="width: 320px;">
			<p>
				<span id="platformShow">请选择你要观看的平台</span>
				<div id="dd" class="wrapper-dropdown-2">
							<ul class="dropdown">
								<li data-id="1">腾讯视频</li>
								<li data-id="2">爱奇艺</li>
								<li data-id="3">优酷</li>
								<li data-id="4">芒果</li>
							</ul>
						</div>
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div><script type="text/javascript">
				// "/user/login"
				function login() {
					$.ajax({
						type : "POST",
						url : "/user/login",
						data : $('#loginForm').serialize(),// 要提交的表单 
						success : function(data) {
							//         	console.log(data);
							if (data.code == 200) {
								layer.msg("登录成功", {
									time : 2000
								}, function() {
									window.location.href = "/";
								});
							} else {
								layer.msg("登录失败");
							}

						}
					});
				}
			</script>