<div class="headertop_desc">
	<div class="wrap">
		<div class="nav_list">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="account_desc">
			<ul>
				<li><a href="/user/toRegister">注册</a></li> 
				@if(null == session || null == session.loginUserId || "" == session.loginUserId){
					<li><a href="/user/toLogin">登录</a></li> 
				@}else{
					<li><a href="javascript:;" onclick="loginOut()">${session.loginAccount}-退出登录</a></li>
				@}

				<li><a href="/preview">Delivery</a></li>
				<li><a href="#">Checkout</a></li>
				<li><a href="#">My Account</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>