<div class="headertop_desc">
	<div class="wrap">
		<div class="nav_list">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/music163/mp3/">MP3下载</a></li>
				<li><a href="contact.html">视频服务仅支持学习交流，勿用非法用途！本站不承担任何责任！如果有因为本站而导致您的权益受到损害，请与我们联系，我们将理性对待，协助你解决相关问题</a></li>
			</ul>
		</div>
		<div class="account_desc">
			<ul>
				<li><a href="/user/toRegister">注册</a></li> 
				@if(null == session || null == session.loginUserId || "" == session.loginUserId){
					<li><a href="/user/toLogin">登录</a></li> 
				@}else{
					<li><a href="javascript:;" onclick="loginOut()">${session.loginAccount}-退出登录</a></li>
				@}

<!-- 				<li><a href="/preview">Delivery</a></li> -->
<!-- 				<li><a href="#">Checkout</a></li> -->
				<li><a href="#">个人中心</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider();
	});
	
	function loginOut(){
		$.ajax({
	        type: "POST",
	        url:"/user/loginOut",
	        success: function(data) {
//	         	console.log(data);
	        	if(data.code == 200){
	        		layer.msg("退出成功",{time:2000}, function(){
	        			window.location.href ="/";
	        		});
	        	}else{
	        		layer.msg("退出失败");
	        	}
	        	
	       	}
	    });
	}
</script>
<script type="text/javascript">
		function DropDown(el) {
			this.dd = el;
			this.initEvents();
		}
		DropDown.prototype = {
			initEvents : function() {
				var obj = this;

				obj.dd.on('click', function(event) {
					$(this).toggleClass('active');
					event.stopPropagation();
				});
			}
		}

		$(function() {

			var dd = new DropDown($('#dd'));

			$(document).click(function() {
				// all dropdowns
				$('.wrapper-dropdown-2').removeClass('active');
			});
			$(".dropdown li").click(function() {
// 				alert($(this).attr("data-id"));
				$("#platform").val($(this).attr("data-id"));
				$("#platformShow").html($(this).text());
			});

		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<script type="text/javascript">
				// "/user/login"
				function login() {
					$.ajax({
						type : "POST",
						url : "/user/login",
						data : $('#loginForm').serialize(),// 要提交的表单 
						success : function(data) {
							//         	console.log(data);
							if (data.code == 200) {
								layer.msg("登录成功", {
									time : 2000
								}, function() {
									window.location.href = "/";
								});
							} else {
								layer.msg("登录失败");
							}

						}
					});
				}
			</script>